body {
    background-color: #222222;
}

.grid-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.grid-listing > .grid-item {
    flex: 1 1 0;
    display: inline-block;
    min-width: 200px;
    max-width: 240px;
    background-color: #111111;
    position: relative;
    overflow: hidden;
}

.grid-listing > .grid-item > img {
    width: 100%;
    transition: filter 0.25s, transform 0.25s;
    display: block;
}

.grid-listing > .grid-item:hover > img {
    filter: saturate(0.25) brightness(0.85) blur(1px);
    transform: scale(1.15);
}

.grid-listing > .grid-item > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.25s;
    text-shadow: 0 0 2px #000000;
}

.grid-listing > .grid-item:hover > span {
    opacity: 1;
}
